<div *ngIf="flag;else app">
    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 class="text-center text-black color-primary"><span>Sistema administrativo Belisario Quevedo</span></h1>
                <h2 data-aos-delay="400" class="text-center text-black">Acceda al sistema con su usuario y clave</h2>
        
                    <section id="contact" class="contact">
            
                        <div class="container">
                            <div class="col-lg-6">
                                <form action="app/controller/login.php" method="post" class="php-email-form">
                                    <div class="row gy-4">
                                        <div class="col-md-6">
                                        <input [formControl]="user" type="text" class="form-control" placeholder="Ingrese el usuario" required>
                                        </div>

                                        <div class="col-md-6 ">
                                        <input [formControl]="password" type="password" class="form-control" placeholder="Ingrese la clave" required>
                                        </div>
            
                                        <div class="col-md-12 text-center">
                                        <button (click)="LoadLogin()">Ingresar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
          </div>
        </div>
    
    </section>

    <footer id="footer" class="footer">
        <div class="container">
            <div class="copyright">
            &copy; Copyright <strong><span>Gabriela Pilataxi</span></strong>.
            </div>
        </div>
    </footer>
</div>


<ng-template #app>

    <div>
        <section id="hero" class="hero d-flex align-items-center">

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 class="text-center text-black"><span>Administracio&#769;n</span></h1>
                    <h2 data-aos-delay="400" class="text-center text-black">En este apartado podra&#769; realizar las operaciones del medidor o buscar documentos</h2>
            
                        <section id="contact" class="contact">
                
                            <div class="container">
                                <div class="col-lg-6">
                                    <form action="app/controller/login.php" method="post" class="php-email-form">
                                        <div class="row gy-4">
                                            <div class="col-md-6">
                                            <input [formControl]="meter" type="text" class="form-control" placeholder="Nu&#769;mero del medidor" required>
                                            </div>
    
                                            <div class="col-md-6 ">
                                            <input [formControl]="read" type="text" class="form-control" placeholder="Valor nuevo de lectura" required>
                                            </div>
                
                                            <div class="col-md-12 text-center">
                                            <button (click)="NewAmount()">Registrar</button>
                                            </div>
                                        </div>
                                    </form>
                                    <form action="app/controller/login.php" method="post" class="php-email-form">
                                      <div class="row gy-4">
  
                                          <div class="col-md-6 ">
                                            <input [formControl]="file" type="text" class="form-control" placeholder="Nombre del documento" required>
                                          </div>
              
                                          <div class="col-md-12 text-center">
                                            <button (click)="BringDocument()">Buscar documento</button>
                                          </div>

                                          <div class="col-md-6 ">
                                            <div class="mt-2" *ngFor="let dir of data; let i = index;" >
                                              <a href="{{dir.DIR}}" target="_blank">{{ dir.NAME }}</a>
                                            </div>
                                          </div>
                                      </div>
                                  </form>
                                </div>
                            </div>
                        </section>
                    </div>
              </div>
            </div>
        
        </section>
    
        <footer id="footer" class="footer">
            <div class="container">
                <div class="copyright">
                &copy; Copyright <strong><span>Gabriela Pilataxi</span></strong>.
                </div>
            </div>
        </footer>
    </div>

    

</ng-template>
